body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
    height: 100vh;
}


header{
    background-color: black;
    padding: 5% 0 0 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    box-sizing: border-box;
}

.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p,li,h3{
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
}

.rules{
    display: flex;
}

h1{
    text-align: center;
    margin-top: 0;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}

h1 span{
    padding: 4px 8px;
}

.scissor{
    background-color: darkorange;
}

.stone{
    background-color: darkorchid;
}

.paper{
    background-color: green;
}


main{
    padding: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: peachpuff;
    height: 60vh;
    box-sizing: border-box;
}

.upper-part{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


button{
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 10px solid deeppink;
    background-color: black;
    color: white;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}


.user-input{
    padding: 5px 10px;
    text-align: center;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    background-color: white;
}

.result-container{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    align-items: center;
}
.third-width{
    text-align: center;
    width: 20vw;
}

.third-width p{
    font-size: 100px;
    margin: 3%;
}

.winner{
    background-color: lightyellow;
    border-radius: 10px;
    border:10px solid deeppink;
    padding: 2%;
    background-image: url("img/round-winner.png");
    background-size: cover;
}

.result-pic{
    max-height: 70%;
}

.round-no{
    text-align: center;
    margin: 0;
    color: white;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    font-weight: bold;
}

#round-num-field{
    width: 100%;
}

#result-points{
    font-size: calc(10px + 6 * ((100vw - 320px) / 680));
}






